<div class="pageintro" tabIndex="0" #scroll>
  <h1>Commands for</h1>
  <svg aria-label="Bash" class="logo">
    <use xlink:href="assets/icons.svg#bash" />
  </svg>
</div>
<div class="table">
  <h2 tabIndex="0">Navigation</h2>
  @for (item of navigation; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">File Operations</h2>
  @for (item of fileOperations; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Text Manipulation</h2>
  @for (item of textManipulation; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">File Viewing</h2>
  @for (item of fileViewing; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">System Information</h2>
  @for (item of systemInformation; track item) {
    <div class="row">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Process Management</h2>
  @for (item of processManagement; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Networking</h2>
  @for (item of networking; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Permissions</h2>
  @for (item of permissions; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Compression And Archiving</h2>
  @for (item of compressionAndArchiving; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Shell Scripting</h2>
  @for (item of shellScripting; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<a href="https://www.gnu.org/software/bash/manual/bash.html" target="_blank" rel="noopener noreferrer"
  >Go to GNU's official page: Bash Reference Manual ↗</a
  >
