<div class="pageintro" tabIndex="0" #scroll>
  <h1>Shortcuts for</h1>
  <svg aria-label="Windows" class="logo">
    <use xlink:href="assets/icons.svg#windows" />
  </svg>
</div>
<div class="table">
  <h2 tabIndex="0">General</h2>
  @for (item of general; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Windows Logo</h2>
  @for (item of windowsLogo; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Command Prompt</h2>
  @for (item of commandPrompt; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Dialog Box</h2>
  @for (item of dialogBox; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">File Explorer</h2>
  @for (item of fileExplorer; track item) {
    <div class="row">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Virtual Desktops</h2>
  @for (item of virtualDesktops; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Taskbar</h2>
  @for (item of taskbar; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Settings</h2>
  @for (item of settings; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<a href="https://support.microsoft.com/en-us/windows/keyboard-shortcuts-in-windows-dcc61a57-8ff0-cffe-9796-cb9706c75eec" target="_blank" rel="noopener noreferrer"
  >Go to Microsoft's official page: Keyboard shortcuts in Windows ↗</a
  >
