<div class="pageintro" tabIndex="0" #scroll>
  <h1>
    Shortcuts for
  </h1>
  <svg aria-label="Chrome Dev" class="logo">
    <use xlink:href="assets/icons.svg#chromedev" />
  </svg>
</div>
<div class="table">
  <h2 tabIndex="0">Open Dev Tools</h2>
  @for (item of openDevTools; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Global</h2>
  @for (item of global; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Elements Panel</h2>
  @for (item of elementsPanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Styles Panel</h2>
  @for (item of stylesPanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Sources Panel</h2>
  @for (item of sourcesPanel; track item) {
    <div class="row">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Code Editor</h2>
  @for (item of codeEditor; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Network Panel</h2>
  @for (item of networkPanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Performance Panel</h2>
  @for (item of performancePanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Memory Panel</h2>
  @for (item of memoryPanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Console Panel</h2>
  @for (item of consolePanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Search Tab</h2>
  @for (item of searchTab; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Recorder Panel</h2>
  @for (item of recorderPanel; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<a href="https://developer.chrome.com/docs/devtools/shortcuts/" target="_blank" rel="noopener noreferrer"
  >Go to Google's official page: Chrome DevTools keyboard shortcuts ↗</a
  >