<div class="pageintro" tabIndex="0" #scroll>
  <h1>
    Commands for
  </h1>
  <svg aria-label="git" class="logo">
    <use xlink:href="assets/icons.svg#git" />
  </svg>
</div>
<div class="table">
  <h2 tabIndex="0">Repository Setup</h2>
  @for (item of repositorySetup; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Configuration</h2>
  @for (item of configuration; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Basic Snapshotting</h2>
  @for (item of basicSnapshotting; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Branching And Merging</h2>
  @for (item of branchingAndMerging; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Remote Repositories</h2>
  @for (item of remoteRepositories; track item) {
    <div class="row">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Inspecting Changes</h2>
  @for (item of inspectingChanges; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<div class="table">
  <h2 tabIndex="0">Undoing Changes</h2>
  @for (item of undoingChanges; track item) {
    <div class="row">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  }
</div>
<a href="https://git-scm.com/docs/git" target="_blank" rel="noopener noreferrer"
>Git commands documentation ↗</a>